<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">
  <div class="join_wrapper">
    <div class="join_wrap">
      <!--로고 부분-->
      <div class="join_logo">
        <a th:href="@{/}"><img class="logo_img" src="/images/로고.png" style="cursor:pointer"></a>
      </div>
      <!--회원가입 제목 부분-->
      <div class="subject">
        <span th:text="#{joinMessage}"></span>
      </div>
      <div class="joinPageMessage">
        <span th:text="#{joinPageMainMessage}"></span>
      </div>
      <form method="post" th:action="@{/member/join}" th:object="${joinForm}">
        <div class="errors" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <!--아이디 부분-->
        <div class="join_common_wrap">
          <div class="join_common_name" th:text="#{userId}"></div>
          <div class="join_common_input_box">
            <input class="join_common_input" type="text" name="userId" th:field="*{userId}">
          </div>
          <div class="join_commonErrors" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
        </div>
        <!--비밀번호 부분-->
        <div class="join_common_wrap">
          <div class="join_common_name" th:text="#{userPw}"></div>
          <div class="join_common_input_box">
            <input class="join_common_input" type="password" name="userPw" id="userPw" th:field="*{userPw}">
          </div>
          <div class="join_commonErrors" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
        </div>
        <!--비밀번호 확인 부분-->
        <div class="join_common_wrap">
          <div class="join_common_name" th:text="#{userPwRe}"></div>
          <div class="join_common_input_box">
            <input class="join_common_input" type="password" name="userPwRe" th:field="*{userPwRe}">
          </div>
          <div class="join_commonErrors" th:each="err : ${#fields.errors('userPwRe')}" th:text="${err}"></div>
        </div>
        <!--이름 부분-->
        <div class="join_common_wrap">
          <div class="join_common_name" th:text="#{userNm}"></div>
          <div class="join_common_input_box">
            <input class="join_common_input" type="text" name="userNm" th:field="*{userNm}">
          </div>
          <div class="join_commonErrors" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
        </div>
        <!--이메일 부분-->
        <div class="join_common_wrap">
          <div class="join_common_name" th:text="#{userEmail}"></div>
          <div class="join_common_input_box">
            <input class="join_common_input" id="mail" type="text" name="userEmail" th:field="*{userEmail}">
          </div>
          <div class="join_commonErrors" th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"></div>
        </div>
        <!--이메일 체크 부분-->
        <input type="hidden" id="codeNum" name="codeNum" th:field="*{codeNum}">
        <input type="hidden" id="realEmail" name="realEmail" th:field="*{realEmail}">
        <div class="email_check_wrap">
          <div class="email_check_name" th:text="#{userEmailCheck}"></div>
          <div class="email_check_input_box">
            <input class="email_check_input" type="text" name="userEmailCheck" th:field="*{userEmailCheck}" oninput="emailCheck(this.form)">
          </div>
          <div class="email_check_button_wrap">
            <button type="button" class="email_check_button" th:text="#{member.btn.emailCheck}" style="cursor:pointer" onclick="emailSend(this.form)"></button>
          </div>
        </div>
        <div class="emailCheckErrors" th:each="err : ${#fields.errors('userEmailCheck')}" th:text="${err}"></div>
        <!--휴대전화번호 부분-->
        <div class="join_common_wrap">
          <div class="join_common_name" th:text="#{userPhone}"></div>
          <div class="join_common_input_box">
            <input class="join_common_input" type="text" name="userPhone" th:field="*{userPhone}">
          </div>
          <div class="join_commonErrors" th:each="err : ${#fields.errors('userPhone')}" th:text="${err}"></div>
        </div>
        <!--주소1 부분-->
        <div class="address1_wrap">
          <div class="address1_name" th:text="#{userAddr1}"></div>
          <div class="address1_input_box">
            <input class="address1_input" type="text" name="userAddr1" th:field="*{userAddr1}" readonly="readonly" th:placeholder="#{addressInfo1}">
          </div>
          <div class="address1_button_wrap">
            <button type="button" class="address1_button" th:text="#{member.btn.addr}" style="cursor:pointer" onclick="execution_daum_address()"></button>
          </div>
        </div>
        <!--주소2 부분-->
        <div class="address2_wrap">
          <div class="address2_input_box">
            <input class="address2_input" type="text" name="userAddr2" th:field="*{userAddr2}" readonly="readonly" th:placeholder="#{addressInfo2}">
          </div>
          <div class="address2Errors" th:each="err : ${#fields.errors('userAddr2')}" th:text="${err}"></div>
        </div>
        <!--상세주소 부분-->
        <div class="address3_wrap">
          <div class="address3_input_box">
            <input class="address3_input" type="text" name="userAddr3" th:field="*{userAddr3}" th:placeholder="#{addressInfo3}">
          </div>
          <div class="address3Errors" th:each="err : ${#fields.errors('userAddr3')}" th:text="${err}"></div>
        </div>
        <!--회원가입 버튼 부분-->
        <div class="join_button_wrap">
          <button type="submit" class="join_button" th:text="#{member.btn.join}" style="cursor:pointer" onclick="join(this.form)"></button>
        </div>
      </form>
    </div>
  </div>
</main>
</html>