<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">
    <div class="login_wrapper">
        <div class="login_wrap">
            <!--로고 부분-->
            <div class="login_logo">
                <a th:href="@{/}"><img class="logo_img" src="/images/로고.png"></a>
            </div>
            <!--로그인 제목 부분-->
            <div class="login_subject">
                <span th:text="#{loginMessage}"></span>
            </div>
            <form method="post" th:action="@{/member/login}" th:object="${loginForm}">
                <!--아이디 부분-->
                <div class="login_common_wrap">
                    <div class="login_common_name" th:text="#{userId}"></div>
                    <div class="login_common_input_box">
                        <input class="login_common_input" type="text" name="userId" th:field="*{userId}">
                    </div>
                    <div class="login_commonErrors" th:if="${session.loginField == 'userId'}" th:text="${session.message}"></div>
                </div>
                <!--비밀번호 부분-->
                <div class="login_common_wrap">
                    <div class="login_common_name" th:text="#{userPw}"></div>
                    <div class="login_common_input_box">
                        <input class="login_common_input" type="password" name="userPw" th:field="*{userPw}">
                    </div>
                    <div class="login_commonErrors" th:if="${session.loginField == 'userPw'}" th:text="${session.message}"></div>
                </div>
                <!--공통 오류 부분-->
                <div class="login_errors" th:if="${session.loginField == 'global'}" th:text="${session.message}"></div>
                <!--회원가입 로그인 틀-->
                <div class="loginPage_join_login_wrap">
                    <!--회원가입 버튼 부분-->
                    <div class="loginPage_join_button_wrap">
                        <a th:href="@{/member/join}"><button type="button" class="loginPage_join_button" th:text="#{member.btn.goJoinPage}" style="cursor:pointer;"></button></a>
                    </div>
                    <!--로그인 버튼 부분-->
                    <div class="login_button_wrap">
                        <button type="submit" class="login_button" th:text="#{member.btn.login}" style="cursor:pointer;"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</html>