* {
    box-sizing: border-box;
}

html {
    max-width: 800px;
    height: 2000px;
    margin: auto;
}

/* header - S */
#header {
    display: flex;
    padding: 0 1rem 0 1rem;
    width: 100%;
    justify-content: space-between;
}

svg {
    width: 30px;
    height: 30px;
}

/* header - E */

/* car-image - S */
#main-image {
    top: 5rem;
    width: inherit;
    height: 600px;
    border: 1px solid;
}

img {
    width: 100%;
    height: inherit;
}

.sub-image {
    display: inline-block;
}

.image-sub {
    width: 50px;
    height: 50px;
}

.next-image {
    display: flex;
}

.next {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 0.5rem 0.5rem 0 0;
}

/* car-image - E */

/* release - S */
.fast-release {
    color : #0BA252;
    font-size: 12px;
}

.release-possible {
    color: #0BA252;
    font-size: 13px;
}

.car-name {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
}

.car-description {
    margin: 1rem 0.5rem 0 0;
}
/* release - E */


/* month-pay - S */

#month-pay {
    margin: 1rem 0 0 0;
}

.payformonth {
    font-weight: bold;
    font-size: 20px;
    
}

table {
    width: 800px;
}

/* 월 대여료는 목차 부분은 width : 60%로 하고, 금액 부분은 각각 width : 20%로 진행 */

hr {
    visibility: hidden;
}
/* month-pay - E */

/* deposit - S */
.deposit {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    margin: 1rem 0 0 0;
    width: 100%;
    height: 50px;
}

.deposit-range {
    font-size: 12px;
}
/* deposit - E */


/* required - S */
#required {
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid;
    margin: 2rem 0;
    font-size: 12px;
    text-align: center;
    
}

.minimum-drive-age {
    width: 33%;
}

.minimum {
    padding: 1rem 0 0 0;
    margin: 1rem 0 0 0;
    font-size: 14px;
}

.minimum-credit-level {
    width: 33%;
}

.as {
    width: 33%;
}

.as a {
    color: green;
}
/* required - E */

/* 계약 안내 - S */
#contract-section {
    margin: 2rem 0;
}

.contract-intro {
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: #0BA252;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 4px;
    border-radius: 0.5rem;
}

.contract-mention {
    font-size: 13px;
    color: #0BA252;
    
}
/* 계약 안내 - E */

/* 차량 기본 정보 - S */
#car-information {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

li {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 0;
}

.car-information-page1 {
    width: 50%;
}
/* 차량 기본 정보 - E */

/* 차량 옵션 정보 - S */
.car-option-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li img {
    width: 120px;
    height: 110px;
}
/* 차량 옵션 정보 - E */