html {
    max-width: 800px;
    height: 100%;
    margin: auto;
}

/* search - S */

#search {
    position: relative;
    background-color: #0BA252;
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.search-category {
    padding: 0 0 2rem 0;
}

.car-search {
    display: inline-block;
    padding: 1rem;
    color: white;
    font-weight: bold;
}

.filter {
    display: inline-block;
    padding: 1rem;
    color: white;
    font-weight: bold;
}

.close {
    position: absolute;
    color: white;
    top: 0.5rem;
    right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.search-btn {
    width: 30px;
    height: 30px;
    background-color: #0BA252;
    padding: 1rem;
    color: white;
}

input {
    font-size: 1.2rem;
    display: inline-block;
    border: none;
    background-color: inherit;
    color: wheat;
}
/* search - E */