<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>ChaMaru</title>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><div id="header">
            <img class="logo" src="/images/로고.png" alt="">
        </div></a>
        <a href="/search"><svg id="search" class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
        </svg></a>
        <svg id="alerm" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"/>
        </svg>
        <div th:if="${session.memberInfo == null}">
            <a href="/member/login"><div id="login">
                <span>로그인</span>
            </div></a>
        </div>
        <div th:if="${session.memberInfo != null}">
            <a href="/car/insert"><div id="registCar">
                <span>차 등록</span>
            </div></a>
            <a href="/mypage"><div id="mypage">
                <span>마이페이지</span>
            </div></a>
            <a href="/member/logout"><div id="logout">
                <span>로그아웃</span>
            </div></a>
        </div>
        <a href="/member/join"><div id="membership">
            <span>회원가입</span>
        </div></a>
    </header>



    <div id="promotion">
        <img src="/images/admin1.png" alt="">
    </div>


    <div id="steady-seller">
        <div><span class="check-steady">꾸준히</span> 찾는 모델이에요</div>
        <ul class="car">
            <li class="carButton">그랜저</li>
            <li class="carButton">카니발</li>
            <li class="carButton">K5</li>
            <li class="carButton">쏘나타</li>
            <li class="carButton">아반떼</li>
            <li class="carButton">K3</li>
            <li class="carButton">G80</li>
            <li class="carButton">캐스퍼</li>
        </ul>
    </div>

    <div id="moreCar">전체차량 보러가기</div>

    <main>
        <div><span class="check">금액별</span>로 찾아보세요</div>
        <ul id="payType">
            <li class="type">40만원 이하</li>
            <li class="type">40-50만원대</li>
            <li class="type">60-70만원대</li>
            <li class="type">80-90만원대</li>
            <li class="type">100만원 이상</li>
        </ul>
        <div id="car-select">
            <div class="image1">
                <a class="page-movement" href="/product">
                    <img src="/images/K3.jpg" alt="K3">
                </a>    
                <div class="description">
                    <span class="credit-level">신용무관</span>
                    <span class="minimun-rent-period">1개월부터</span>
                    <div class="car-fullname">올 뉴K3 1.6 가솔린</div>
                    <div class="key">스마트키</div>
                    <div class="expense">
                        <span class="expense-1">60만원</span>
                        <span class="expense-2">/월</span>
                        <span class="expense-3">24개월</span>
                    </div>
                </div>
            </div>
            <div class="image2">
                <img src="/images/K3(2).jpg" alt="K3">
                <div class="description">
                    <span class="credit-level">신용무관</span>
                    <span class="minimun-rent-period">1개월부터</span>
                    <div class="car-fullname">올 뉴K3 1.6 가솔린</div>
                    <div class="key">스마트키,네비,블랙박스</div>
                    <div class="expense">
                        <span class="expense-1">55만원</span>
                        <span class="expense-2">/월</span>
                        <span class="expense-3">1개월</span>
                    </div>
                </div>
            </div>
            <div class="image3">
                <img src="/images/casper.jpg" alt="K3">
                <div class="description">
                    <span class="credit-level">6등급 이상</span>
                    <span class="minimun-rent-period">12개월부터</span>
                    <div class="car-fullname">캐스퍼 가솔린 1.0</div>
                    <div class="expense">
                        <span class="expense-1">60만원</span>
                        <span class="expense-2">/월</span>
                        <span class="expense-3">24개월</span>
                    </div>
                </div>
            </div>
            <div class="image4">
                <img src="/images/K5.jpg" alt="K3">
                <div class="description">
                    <span class="credit-level">신용무관</span>
                    <span class="minimun-rent-period">1개월부터</span>
                    <div class="car-fullname">신형 K5 2.0 LPI</div>
                    <div class="key">스마트키</div>
                    <div class="expense">
                        <span class="expense-1">55만원</span>
                        <span class="expense-2">/월</span>
                        <span class="expense-3">3개월</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="moreView">40-50만원대 차량 더보기</div>
    </main>

    <div>
        <img class="sub-admin-banner" src="/images/banner.png" alt="banner">
    </div>

    <div class="question">
        <div><span class="check">반카</span>는 쉬워요</div>
        <div class="question1">
            <span class="check">서비스일반</span><br>
            <span class="question-content">반카는 어떤 서비스인가요?</span>
        </div>
        <div class="question2">
            <span class="check">렌트 서비스일반</span><br>
            <span class="question-content">월 대여료 외에 추가비용이 있나요?</span>
        </div>
        <div class="question3">
            <span class="check">렌트 서비스일반</span><br>
            <span class="question-content">온라인 계약 절차는 어떻게 되나요?</span>
        </div>
        <div class="question4">
            <span class="check">서비스일반</span><br>
            <span class="question-content">반카는 어떤 특징이 있나요?</span>
        </div>
    </div>

    <footer>
        <span class="terms">이용약관</span>
        <span class="policy">개인정보취급방침</span>
    </footer>
</body>
</html>