* {
    box-sizing: border-box;
    
}


html {
    width: 800px;
    height: 2000px;
}


/* Header - S */
header {
    display: flex;
    border: 1px solid #000;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 0.5rem;
}

#search {
    position: absolute;
    right: 3rem;
    width: 20px;
    height: 20px;
    top: 1rem;
}

#alerm {
    position: absolute;
    right: 1rem;
    width: 20px;
    height: 20px;
    top: 1rem;
}
/* Header - E */

/* 프로모션 - S */
#promotion {
    border: 1px solid;
    width: 100%;
    height: 150px;
    border-radius: 1rem;
    margin : 0 1rem 0 0;
    text-align: center;
}
/* 프로모션 - E */

/* Steady-seller - S */
.check {
    color: blue;
}

.car {
    display: flex;
    padding: 0;
}

.carButton {
    border: 1px solid #ccc;
    padding: 0.5rem;
    list-style: none;
    margin: 0 1rem 0 0;
    border-radius: 0.3rem;
}

.carButton:hover {
    border: 1px solid blue;
    color : blue;
    cursor: pointer;
}

/* Steady-seller - E */


/* 전체차량 보러가기 - S*/
#moreCar {
    padding: 1rem;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 0.5rem;
    margin: 1rem 0 0 0;
}
/* 전체차량 보러가기 - E */

hr {
    visibility: hidden;
}


/* 금액별 분류 - S */
#payType {
    display: flex;
    list-style: none;
    padding: 0;
}

.type {
    padding: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    flex-grow: 1;
}

.type:hover {
    background: #ddd;
}

.type:checked {
    border: 1px solid blue;
    border-radius: 0.5rem;
    color: blue;
}
/* 금액별 분류 - E */

/* 차 사진 - S */
#car-select {
    display: flex;
    position: relative;
    width: 100%;
    height: 900px;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.image1 {
    position: absolute;
    border: 1px solid;
    width: 330px;
    height: 330px;
    top: 1rem;
    left: 1rem;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0 0;
}

.image2 {
    position: absolute;
    border: 1px solid;
    width: 330px;
    height: 330px;
    right: 1rem;
    top: 1rem;
    border-radius: 0.5rem;
    margin: 0 0 0 0.5rem;
}

.image3 {
    position: absolute;
    border: 1px solid;
    width: 330px;
    height: 330px;
    left: 1rem;
    bottom: 1rem;
    border-radius: 0.5rem;
    margin: 0 0 0 0.5rem;
}
/* 차 사진 - E */
